In [2]:
!pip install geopandas --upgrade --q
!pip install gtfs_kit --upgrade --q

     |████████████████████████████████| 994 kB 2.6 MB/s
     |████████████████████████████████| 6.3 MB 31.0 MB/s
     |████████████████████████████████| 15.4 MB 34 kB/s
     |████████████████████████████████| 62 kB 636 kB/s
     |████████████████████████████████| 994 kB 4.7 MB/s
     |████████████████████████████████| 10.0 MB 151 kB/s
  Building wheel for json2html (setup.py) ... done
  Building wheel for pycountry (setup.py) ... done
  Building wheel for utm (setup.py) ... done

In [3]:
import sys
from pathlib import Path
import json

import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib

DIR = Path('..')
sys.path.append(str(DIR))

import gtfs_kit as gk

DATA_DIR = DIR/'content/'

%load_ext autoreload
%autoreload 2
%matplotlib inline

In [4]:
# List feed

path = DATA_DIR/'new_york.zip'
gk.list_feed(path)

                    file_name  file_size
0                  agency.txt        375
1                   areas.txt         12
2           booking_rules.txt        271
3                calendar.txt        404
4     calendar_attributes.txt        206
5          calendar_dates.txt        128
6              directions.txt        212
7         fare_attributes.txt        103
8   fare_rider_categories.txt         32
9              fare_rules.txt         54
10    farezone_attributes.txt         18
11              feed_info.txt        342
12            frequencies.txt         53
13        linked_datasets.txt        117
14        location_groups.txt         50
15       rider_categories.txt         45
16                 routes.txt       1251
17                 runcut.txt        104
18                 shapes.txt      44699
19        stop_attributes.txt       1492
20             stop_times.txt     992968
21                  stops.txt       4359
22   timetable_stop_order.txt         62
23             timetables.txt        170
24              transfers.txt        124
25                  trips.txt     140951

In [35]:
feed.calendar

              service_id               service_name  ...  start_date  end_date
0   c_21359_b_29759_d_31          Weekday (Weekday)  ...    20210426  20220601
1  c_20176_b_26810_d_127  PANYNJ (All days of week)  ...    20200613  20220601
2   c_19861_b_26688_d_64       Sunday (Sunday only)  ...    20200614  20220601
3   c_19860_b_26687_d_32   Saturday (Saturday only)  ...    20200614  20220601

[4 rows x 11 columns]

In [5]:
# Read feed and describe/content/NorthernKentucky_TANK.zip

path = DATA_DIR/'new_york.zip'
feed = gk.read_feed(path, dist_units='km')
feed.describe()

                           indicator                                              value
0                           agencies  [Port Authority Trans-Hudson Corporation, Port...
1                           timezone                                   America/New_York
2                         start_date                                           20200613
3                           end_date                                           20220601
4                         num_routes                                                  7
5                          num_trips                                               1680
6                          num_stops                                                 70
7                         num_shapes                                                 13
8                        sample_date                                           20200618
9   num_routes_active_on_sample_date                                                  1
10   num_trips_active_on_sample_date                                                132
11   num_stops_active_on_sample_date                                                  6

In [6]:
# Validate

feed.validate()

       type  ...                                               rows
0   warning  ...                                                 []
1   warning  ...                                                 []
2   warning  ...                                                 []
3   warning  ...                                                 []
4   warning  ...                                                 []
5   warning  ...                                                 []
6   warning  ...                                                 []
7   warning  ...                                                 []
8   warning  ...                                                 []
9   warning  ...                                                 []
10  warning  ...                                                 []
11  warning  ...                                                 []
12  warning  ...                                                [5]
16  warning  ...                                                 []
17  warning  ...                                                 []
18  warning  ...                                                 []
19  warning  ...                                                 []
20  warning  ...                                                 []
21  warning  ...                                                 []
22  warning  ...                                                 []
23  warning  ...                                                 []
24  warning  ...                                                 []
25  warning  ...                                                 []
26  warning  ...                                                 []
27  warning  ...                                                 []
28  warning  ...                                                 []
29  warning  ...                                                 []
30  warning  ...  [1394, 1395, 1396, 1397, 1401, 1402, 1403, 140...
13  warning  ...                                                 []
14  warning  ...                                                 []
15  warning  ...                                                 []
31  warning  ...                                                 []
32  warning  ...                                                 []
33  warning  ...                                                 []
34  warning  ...                                                 []
35  warning  ...                                                 []
36  warning  ...                                                 []
37  warning  ...                                                 []
38  warning  ...                                                 []

[39 rows x 4 columns]

In [7]:
feed.trips.T

                                                   0     ...                    1679
route_id                                           1024  ...                     862
service_id                         c_19860_b_26687_d_32  ...    c_21359_b_29759_d_31
trip_id                         t_1275997_b_26687_tn_25  ...  t_1368313_b_29759_tn_0
trip_short_name                                     NaN  ...                     NaN
trip_headsign                Journal Square via Hoboken  ...      World Trade Center
direction_id                                          0  ...                       1
block_id                                            NaN  ...                     NaN
shape_id                                         p_4501  ...                  p_4496
bikes_allowed                                       NaN  ...                     NaN
wheelchair_accessible                               NaN  ...                     NaN
trip_type                                           NaN  ...                     NaN
drt_max_travel_time                                 NaN  ...                     NaN
drt_avg_travel_time                                 NaN  ...                     NaN
drt_advance_book_min                                NaN  ...                     NaN
drt_pickup_message                                  NaN  ...                     NaN
drt_drop_off_message                                NaN  ...                     NaN
continuous_pickup_message                           NaN  ...                     NaN
continuous_drop_off_message                         NaN  ...                     NaN

[18 rows x 1680 columns]

In [8]:
feed.trips.filter(['route_id','trip_id','shape_id']).T

                             0     ...                    1679
route_id                     1024  ...                     862
trip_id   t_1275997_b_26687_tn_25  ...  t_1368313_b_29759_tn_0
shape_id                   p_4501  ...                  p_4496

[3 rows x 1680 columns]

In [9]:
## FInd all the trips of specific route : slice rows
feed.trips.loc[lambda x : x.route_id == '1020'].T

Empty DataFrame
Columns: []
Index: [route_id, service_id, trip_id, trip_short_name, trip_headsign, direction_id, block_id, shape_id, bikes_allowed, wheelchair_accessible, trip_type, drt_max_travel_time, drt_avg_travel_time, drt_advance_book_min, drt_pickup_message, drt_drop_off_message, continuous_pickup_message, continuous_drop_off_message]

In [13]:
## group all the trips by route 
feed.trips.groupby('route_id').agg(['mean']).T

route_id                             1024  5744  ...       861      862
direction_id                mean  0.49863   0.0  ...  0.501916  0.50096
bikes_allowed               mean      NaN   NaN  ...       NaN      NaN
wheelchair_accessible       mean      NaN   NaN  ...       NaN      NaN
trip_type                   mean      NaN   NaN  ...       NaN      NaN
drt_max_travel_time         mean      NaN   NaN  ...       NaN      NaN
drt_avg_travel_time         mean      NaN   NaN  ...       NaN      NaN
drt_advance_book_min        mean      NaN   NaN  ...       NaN      NaN
drt_pickup_message          mean      NaN   NaN  ...       NaN      NaN
drt_drop_off_message        mean      NaN   NaN  ...       NaN      NaN
continuous_pickup_message   mean      NaN   NaN  ...       NaN      NaN
continuous_drop_off_message mean      NaN   NaN  ...       NaN      NaN

[11 rows x 6 columns]

In [18]:
feed.trips

     route_id  ... continuous_drop_off_message
0        1024  ...                         NaN
1        1024  ...                         NaN
2        1024  ...                         NaN
3        1024  ...                         NaN
4        1024  ...                         NaN
...       ...  ...                         ...
1675      862  ...                         NaN
1676      862  ...                         NaN
1677      862  ...                         NaN
1678      862  ...                         NaN
1679      862  ...                         NaN

[1680 rows x 18 columns]

In [17]:
(feed.trips
 # split 
 .groupby('route_id')
 #apply and combine
 .apply(my_agg))

          num_trips
route_id
1024            365
5744            132
859             199
860             202
861             261
862             521

In [30]:
## Comute the number of trips per route : split ,apply,combine
def my_agg(group):
  d={}
  d['num_trips']=group.shape[0]
  return pd.Series(d)


## Use method chaning 
(
    feed.trips
 # split 
 .groupby('route_id')
 #apply and combine
 .apply(my_agg)
 .reset_index()
 #Join in route short name from feeed routes
 .merge(feed.routes.filter(['route_id','route_short_name','route_long_name','route_type']))
 #sort values 
 .sort_values('num_trips',ascending=False).T
)

                                            5  ...           1
route_id                                  862  ...        5744
num_trips                                 521  ...         132
route_short_name                         PATH  ...         NaN
route_long_name   Newark - World Trade Center  ...  Blue Route
route_type                                  2  ...           3

[5 rows x 6 columns]

In [19]:
## Fill in shape dist travlled columns of stop times for later distance calucltaions 
trip_stats=feed.compute_trip_stats()

In [34]:
trip_stats.T

                                     364  ...                     735
trip_id           t_1275956_b_26688_tn_1  ...  t_1368313_b_29759_tn_0
route_id                            1024  ...                     862
route_short_name                    PATH  ...                    PATH
route_type                             2  ...                       2
direction_id                           0  ...                       1
shape_id                        p_902146  ...                  p_4496
num_stops                              7  ...                       6
start_time                      00:10:00  ...                23:55:00
end_time                        00:37:00  ...                24:20:00
start_stop_id                     781741  ...                  781718
end_stop_id                       781724  ...                  794724
is_loop                                0  ...                       0
duration                            0.45  ...                0.416667
distance                          9503.7  ...                 14111.2
speed                            21119.3  ...                   33867

[15 rows x 1680 columns]

In [29]:
feed.trips

     route_id  ... continuous_drop_off_message
0        1024  ...                         NaN
1        1024  ...                         NaN
2        1024  ...                         NaN
3        1024  ...                         NaN
4        1024  ...                         NaN
...       ...  ...                         ...
1675      862  ...                         NaN
1676      862  ...                         NaN
1677      862  ...                         NaN
1678      862  ...                         NaN
1679      862  ...                         NaN

[1680 rows x 18 columns]

In [ ]:
## Route stats
route_stats=feed.compute_route_stats(trip_stats,dates=)

In [33]:
feed=feed.append_dist_to_stop_times()
feed.stop_times.T

                                              0      ...                   11318
trip_id                      t_1116469_b_26687_tn_1  ...  t_1368811_b_29759_tn_9
arrival_time                               07:20:00  ...                13:25:00
departure_time                             07:20:00  ...                13:25:00
stop_id                                      781718  ...                  794724
stop_sequence                                     1  ...                       6
stop_headsign                                   NaN  ...                     NaN
pickup_type                                       0  ...                       0
drop_off_type                                     0  ...                       0
timepoint                                         0  ...                       0
start_service_area_id                           NaN  ...                     NaN
end_service_area_id                             NaN  ...                     NaN
start_service_area_radius                       NaN  ...                     NaN
end_service_area_radius                         NaN  ...                     NaN
continuous_pickup                                 1  ...                       1
continuous_drop_off                               1  ...                       1
pickup_booking_rule_id                          NaN  ...                     NaN
drop_off_booking_rule_id                        NaN  ...                     NaN
start_pickup_dropoff_window                     NaN  ...                     NaN
end_pickup_dropoff_window                       NaN  ...                     NaN
mean_duration_factor                            NaN  ...                     NaN
mean_duration_offset                            NaN  ...                     NaN
safe_duration_factor                            NaN  ...                     NaN
safe_duration_offset                            NaN  ...                     NaN
shape_dist_traveled                               0  ...                 14.1066

[24 rows x 11319 columns]

In [26]:
 # Append shape_dist_traveled column to stop times

display(feed.stop_times.head().T)

                                                  0  ...                       4
trip_id                      t_1116469_b_26687_tn_1  ...  t_1116469_b_26687_tn_1
arrival_time                               07:20:00  ...                07:38:00
departure_time                             07:20:00  ...                07:38:00
stop_id                                      781718  ...                  781730
stop_sequence                                     1  ...                       5
stop_headsign                                   NaN  ...                     NaN
pickup_type                                       0  ...                       0
drop_off_type                                     0  ...                       0
shape_dist_traveled                               0  ...                 12307.5
timepoint                                         0  ...                       0
start_service_area_id                           NaN  ...                     NaN
end_service_area_id                             NaN  ...                     NaN
start_service_area_radius                       NaN  ...                     NaN
end_service_area_radius                         NaN  ...                     NaN
continuous_pickup                                 1  ...                       1
continuous_drop_off                               1  ...                       1
pickup_booking_rule_id                          NaN  ...                     NaN
drop_off_booking_rule_id                        NaN  ...                     NaN
start_pickup_dropoff_window                     NaN  ...                     NaN
end_pickup_dropoff_window                       NaN  ...                     NaN
mean_duration_factor                            NaN  ...                     NaN
mean_duration_offset                            NaN  ...                     NaN
safe_duration_factor                            NaN  ...                     NaN
safe_duration_offset                            NaN  ...                     NaN

[24 rows x 5 columns]

In [27]:
feed = feed.append_dist_to_stop_times()
feed.stop_times.head().T

                                                  0  ...                       4
trip_id                      t_1116469_b_26687_tn_1  ...  t_1116469_b_26687_tn_1
arrival_time                               07:20:00  ...                07:38:00
departure_time                             07:20:00  ...                07:38:00
stop_id                                      781718  ...                  781730
stop_sequence                                     1  ...                       5
stop_headsign                                   NaN  ...                     NaN
pickup_type                                       0  ...                       0
drop_off_type                                     0  ...                       0
timepoint                                         0  ...                       0
start_service_area_id                           NaN  ...                     NaN
end_service_area_id                             NaN  ...                     NaN
start_service_area_radius                       NaN  ...                     NaN
end_service_area_radius                         NaN  ...                     NaN
continuous_pickup                                 1  ...                       1
continuous_drop_off                               1  ...                       1
pickup_booking_rule_id                          NaN  ...                     NaN
drop_off_booking_rule_id                        NaN  ...                     NaN
start_pickup_dropoff_window                     NaN  ...                     NaN
end_pickup_dropoff_window                       NaN  ...                     NaN
mean_duration_factor                            NaN  ...                     NaN
mean_duration_offset                            NaN  ...                     NaN
safe_duration_factor                            NaN  ...                     NaN
safe_duration_offset                            NaN  ...                     NaN
shape_dist_traveled                               0  ...                 12.3196

[24 rows x 5 columns]

In [28]:
# Choose study dates

week = feed.get_first_week()
dates = [week[4], week[6]]  # First Friday and Sunday
dates

['20200619', '20200621']

In [29]:
# Compute feed time series

trip_stats = feed.compute_trip_stats()
trip_stats.head().T
fts = feed.compute_feed_time_series(trip_stats, dates, freq='6H')
fts

indicator            num_trip_ends  ...  service_speed
datetime                            ...
2020-06-19 00:00:00           24.0  ...       7.408247
2020-06-19 06:00:00           36.0  ...       8.601993
2020-06-19 12:00:00           36.0  ...       8.601993
2020-06-19 18:00:00           33.0  ...       8.601993
2020-06-20 00:00:00            NaN  ...            NaN
2020-06-20 06:00:00            NaN  ...            NaN
2020-06-20 12:00:00            NaN  ...            NaN
2020-06-20 18:00:00            NaN  ...            NaN
2020-06-21 00:00:00           66.0  ...      16.836874
2020-06-21 06:00:00           91.0  ...      17.326507
2020-06-21 12:00:00          132.0  ...      19.687394
2020-06-21 18:00:00          110.0  ...      19.349923

[12 rows x 6 columns]

In [30]:
gk.downsample(fts, freq='12H')

indicator            num_trip_ends  ...  service_speed
datetime                            ...
2020-06-19 00:00:00           60.0  ...       8.087990
2020-06-19 12:00:00           69.0  ...       8.601993
2020-06-20 00:00:00            NaN  ...            NaN
2020-06-20 12:00:00            NaN  ...            NaN
2020-06-21 00:00:00          157.0  ...      17.112544
2020-06-21 12:00:00          242.0  ...      19.533675

[6 rows x 6 columns]

In [31]:
# Compute feed stats for first week

feed_stats = feed.compute_feed_stats(trip_stats, week)
feed_stats

   num_stops  num_routes  num_trips  ...  peak_start_time  peak_end_time      date
0         35           1        132  ...         04:40:00       04:45:00  20200615
0         35           1        132  ...         04:40:00       04:45:00  20200616
0         35           1        132  ...         04:40:00       04:45:00  20200617
0         35           1        132  ...         04:40:00       04:45:00  20200618
0         35           1        132  ...         04:40:00       04:45:00  20200619
0         35           3        430  ...         11:00:00       11:02:00  20200620
0         35           3        406  ...         11:00:00       11:02:00  20200621

[7 rows x 12 columns]

In [32]:
# Compute route time series

rts = feed.compute_route_time_series(trip_stats, dates, freq='12H')
rts

indicator           num_trip_ends        ... service_speed
route_id                     1024  5744  ...          5744        862
datetime                                 ...
2020-06-19 00:00:00           NaN  60.0  ...      8.087990        NaN
2020-06-19 12:00:00           NaN  69.0  ...      8.601993        NaN
2020-06-20 00:00:00           NaN   NaN  ...           NaN        NaN
2020-06-20 12:00:00           NaN   NaN  ...           NaN        NaN
2020-06-21 00:00:00          56.0  60.0  ...      8.087990  34.738252
2020-06-21 12:00:00         105.0  69.0  ...      8.601993  38.494293

[6 rows x 18 columns]

In [33]:
# Slice time series

inds = ['service_distance', 'service_duration', 'service_speed']
rids = ['110-423', '110N-423']

rts.loc[:, (inds, rids)]

Empty DataFrame
Columns: []
Index: [2020-06-19 00:00:00, 2020-06-19 12:00:00, 2020-06-20 00:00:00, 2020-06-20 12:00:00, 2020-06-21 00:00:00, 2020-06-21 12:00:00]

In [34]:
# Slice again by cross-section

rts.xs(rids[0], axis="columns", level=1)

KeyError: ignored

In [35]:
# Compute trip locations for every hour

rng = pd.date_range('1/1/2000', periods=24, freq='H')
times = [t.strftime('%H:%M:%S') for t in rng]
loc = feed.locate_trips(dates[0], times)
loc.head()

                    trip_id      time  rel_dist  ...  shape_id        lon        lat
0    t_1223221_b_26810_tn_1  04:00:00       NaN  ...  p_900261 -73.886192  40.773277
1   t_1223221_b_26810_tn_10  06:00:00       1.0  ...  p_900261 -73.886192  40.773277
2  t_1223221_b_26810_tn_100  21:00:00       1.0  ...  p_900261 -73.886192  40.773277
3  t_1223221_b_26810_tn_101  21:00:00       1.0  ...  p_900261 -73.886192  40.773277
4  t_1223221_b_26810_tn_102  21:00:00       1.0  ...  p_900261 -73.886192  40.773277

[5 rows x 8 columns]

In [36]:
# Build a route timetable

route_id = feed.routes['route_id'].iat[0]
feed.build_route_timetable(route_id, dates).T

Empty DataFrame
Columns: []
Index: [route_id, service_id, trip_id, trip_short_name, trip_headsign, direction_id, block_id, shape_id, bikes_allowed, wheelchair_accessible, trip_type, drt_max_travel_time, drt_avg_travel_time, drt_advance_book_min, drt_pickup_message, drt_drop_off_message, continuous_pickup_message, continuous_drop_off_message, arrival_time, departure_time, stop_id, stop_sequence, stop_headsign, pickup_type, drop_off_type, timepoint, start_service_area_id, end_service_area_id, start_service_area_radius, end_service_area_radius, continuous_pickup, continuous_drop_off, pickup_booking_rule_id, drop_off_booking_rule_id, start_pickup_dropoff_window, end_pickup_dropoff_window, mean_duration_factor, mean_duration_offset, safe_duration_factor, safe_duration_offset, shape_dist_traveled, date]

In [36]:
# Compute screen line counts
DATE='20201206'

# Route stats
route_stats = feed.compute_route_stats(trip_stats, dates=[DATE])
route_stats.T

                              0         1            2
route_id                   1024      5744          862
route_short_name           PATH       NaN         PATH
route_type                    2         3            2
num_trips                   163       132          111
num_trip_starts             163       132          111
num_trip_ends               161       113          109
is_loop                       0         1            0
is_bidirectional              1         0            1
start_time             00:10:00  04:00:00     00:00:00
end_time               24:02:00  28:30:00     24:20:00
max_headway                  35        10           35
min_headway                  12        10           20
mean_headway              14.16        10       22.541
peak_num_trips                5         5            3
peak_start_time        10:24:00  04:40:00     10:40:00
peak_end_time          10:27:00  04:45:00     10:42:00
service_distance    1.58051e+06    851844  1.56786e+06
service_duration          73.35        99        42.45
service_speed           21547.5   8604.48      36934.3
mean_trip_distance      9696.36   6453.36      14124.9
mean_trip_duration         0.45      0.75     0.382432
date                   20201206  20201206     20201206

In [37]:
# Join in route long name
route_stats = route_stats.merge(feed.routes.filter(["route_id", "route_long_name"]))

cols = [
    "route_id",
    "route_short_name", 
    "route_long_name", 
    "route_type", 
    "start_time",
    "end_time",
    "num_trips",
    "max_headway",
    "mean_trip_distance",
    "mean_trip_duration",
    "service_speed",
]

In [38]:
# The most/least frequent routes are
(
    route_stats
    .filter(cols)
    .sort_values("max_headway")
    .T
)

                             1  ...                            2
route_id                  5744  ...                          862
route_short_name           NaN  ...                         PATH
route_long_name     Blue Route  ...  Newark - World Trade Center
route_type                   3  ...                            2
start_time            04:00:00  ...                     00:00:00
end_time              28:30:00  ...                     24:20:00
num_trips                  132  ...                          111
max_headway                 10  ...                           35
mean_trip_distance     6453.36  ...                      14124.9
mean_trip_duration        0.75  ...                     0.382432
service_speed          8604.48  ...                      36934.3

[11 rows x 3 columns]

In [39]:
# The shortest/longest routes are
(
    route_stats
    .filter(cols)
    .sort_values("mean_trip_distance")
    .T
)

                             1  ...                            2
route_id                  5744  ...                          862
route_short_name           NaN  ...                         PATH
route_long_name     Blue Route  ...  Newark - World Trade Center
route_type                   3  ...                            2
start_time            04:00:00  ...                     00:00:00
end_time              28:30:00  ...                     24:20:00
num_trips                  132  ...                          111
max_headway                 10  ...                           35
mean_trip_distance     6453.36  ...                      14124.9
mean_trip_duration        0.75  ...                     0.382432
service_speed          8604.48  ...                      36934.3

[11 rows x 3 columns]

In [40]:
# The slowest/fastest routes are
(
    route_stats
    .filter(cols)
    .sort_values("service_speed")
    .T
)

                             1  ...                            2
route_id                  5744  ...                          862
route_short_name           NaN  ...                         PATH
route_long_name     Blue Route  ...  Newark - World Trade Center
route_type                   3  ...                            2
start_time            04:00:00  ...                     00:00:00
end_time              28:30:00  ...                     24:20:00
num_trips                  132  ...                          111
max_headway                 10  ...                           35
mean_trip_distance     6453.36  ...                      14124.9
mean_trip_duration        0.75  ...                     0.382432
service_speed          8604.48  ...                      36934.3

[11 rows x 3 columns]

In [41]:
# Map routes

# Map our extreme routes
feed.map_routes(route_ids=['5744','1024'])