In [134]:
!pip install geopandas --upgrade --q
!pip install gtfs_kit --upgrade --q

In [135]:
import sys
from pathlib import Path
import json

import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib

DIR = Path('..')
sys.path.append(str(DIR))

import gtfs_kit as gk

DATA_DIR = DIR/'content/'

%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [136]:
# Read feed and describe/content/NorthernKentucky_TANK.zip

path = DATA_DIR/'gtfs (4).zip'
feed = gk.read_feed(path, dist_units='km')
print(feed)

* agency --------------------
	   agency_id  ... agency_email
0  Annapolis  ...          NaN

[1 rows x 8 columns]
* calendar --------------------
	  service_id  monday  tuesday  wednesday  ...  saturday  sunday  start_date  end_date
0      35333       1        1          1  ...         0       0    20180801  20210801
1      35331       0        0          0  ...         1       0    20180801  20210801
2      35332       0        0          0  ...         0       1    20180801  20210801
3      35329       1        1          1  ...         1       0    20180801  20210801

[4 rows x 10 columns]
* calendar_dates --------------------
	  service_id      date  exception_type
0      35333  20180903               2
1      35333  20181112               2
2      35333  20181122               2
3      35333  20181225               2
4      35333  20190101               2
* fare_attributes --------------------
	None
* fare_rules --------------------
	None
* feed_info --------------------
	  feed_publisher_name    feed_publisher_url  ... feed_end_date feed_version
0             MTI UMD  https://mti.umd.edu/  ...      20240806     20190806

[1 rows x 6 columns]
* frequencies --------------------
	   trip_id start_time  end_time  headway_secs  exact_times
0  2660357   06:30:00  20:00:00          1200            1
1  2660356   08:00:00  20:00:00          1200            1
2  2660355   07:30:00  23:00:00          1200            1
* routes --------------------
	  route_id route_short_name  ... route_text_color route_type
0    25495            Green  ...           ffffff          3
1    25500              NaN  ...           FFFFFF          3
2    25516         Purple-N  ...           ffffff          3
3    25496            Brown  ...           FFFFFF          3
4    25499              NaN  ...           FFFFFF          3

[5 rows x 8 columns]
* shapes --------------------
	              shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0  82661 122507 164760      38.97820     -76.49621                  0
1  82661 122507 164760      38.97818     -76.49630                  1
2  82661 122507 164760      38.97810     -76.49662                  2
3  82661 122507 164760      38.97800     -76.49704                  3
4  82661 122507 164760      38.97796     -76.49724                  4
* stops --------------------
	   stop_id stop_code  ... stop_timezone wheelchair_boarding
0  1025801       NaN  ...           NaN                 NaN
1  1025874       NaN  ...           NaN                 NaN
2  1025805       NaN  ...           NaN                 NaN
3  1025810       NaN  ...           NaN                 NaN
4  1025794       NaN  ...           NaN                 NaN

[5 rows x 11 columns]
* stop_times --------------------
	   trip_id arrival_time departure_time  stop_id  stop_sequence  timepoint
0  2660017     05:30:00       05:30:00  1025801              0          1
1  2660017          NaN            NaN  1025874              1          1
2  2660017          NaN            NaN  1025805              2          1
3  2660017          NaN            NaN  1025810              3          1
4  2660017          NaN            NaN  1025794              4          1
* transfers --------------------
	None
* trips --------------------
	   trip_id route_id service_id  ... bikes_allowed block_id  block_name
0  2660017    25492      35333  ...           1.0   orange      orange
1  2660018    25492      35333  ...           1.0   orange      orange
2  2660019    25492      35333  ...           1.0   orange      orange
3  2660020    25492      35333  ...           1.0   orange      orange
4  2660021    25492      35333  ...           1.0   orange      orange

[5 rows x 11 columns]
* dist_units --------------------
	km

In [137]:
feed.describe()

                           indicator                value
0                           agencies  [Annapolis Transit]
1                           timezone     America/New_York
2                         start_date             20180801
3                           end_date             20210801
4                         num_routes                   10
5                          num_trips                  415
6                          num_stops                  237
7                         num_shapes                   18
8                        sample_date             20180809
9   num_routes_active_on_sample_date                   10
10   num_trips_active_on_sample_date                  250
11   num_stops_active_on_sample_date                  237

In [138]:
## To check the warnings in the datas
feed.validate()

      type  ...                                               rows
1    error  ...  [6574, 6575, 6576, 6578, 6579, 6580, 6581, 658...
0  warning  ...                                                 []
2  warning  ...  [6575, 6576, 6578, 6579, 6580, 6581, 6582, 658...
3  warning  ...                                                 []

[4 rows x 4 columns]

In [139]:
# List feed
gk.list_feed(path)

            file_name  file_size
0          agency.txt        259
1        calendar.txt        240
2  calendar_dates.txt        439
3       feed_info.txt        151
4     frequencies.txt        152
5          routes.txt        651
6          shapes.txt     403349
7      stop_times.txt     303375
8           stops.txt      18627
9           trips.txt      29244

In [140]:
## Compute the trip stats
trip_stats=feed.compute_trip_stats()
trip_stats.head().T

                                   32  ...                   36
trip_id                       2660017  ...              2660021
route_id                        25492  ...                25492
route_short_name               Orange  ...               Orange
route_type                          3  ...                    3
direction_id                        0  ...                    0
shape_id          82661 122507 164760  ...  82661 122507 164760
num_stops                          22  ...                   22
start_time                   05:30:00  ...             08:30:00
end_time                     05:51:00  ...             08:51:00
start_stop_id                 1025801  ...              1025801
end_stop_id                   1025798  ...              1025798
is_loop                             0  ...                    0
duration                         0.35  ...                 0.35
distance                      9.26044  ...              9.26044
speed                         26.4584  ...              26.4584

[15 rows x 5 columns]

In [141]:
# Add shape_dist_traveled column to stop times
feed = feed.append_dist_to_stop_times()

In [142]:
feed.stop_times.head().T

                            0        1        2        3         4
trip_id               2659985  2659985  2659985  2659985   2659985
arrival_time         07:15:00      NaN      NaN      NaN  07:21:00
departure_time       07:15:00      NaN      NaN      NaN  07:21:00
stop_id               1025862  1025881  1025921  1025764   1025765
stop_sequence               0        1        2        3         4
timepoint                   1        1        1        1         1
shape_dist_traveled       NaN      NaN      NaN      NaN   1.98464

In [143]:
## Choose the study dates 
week=feed.get_first_week()
week

['20180806',
 '20180807',
 '20180808',
 '20180809',
 '20180810',
 '20180811',
 '20180812']

In [144]:
date=[week[0],week[4]] ##  is counted as sunday and 4-wdnesday
date

['20180806', '20180810']

In [145]:
## COmpute the feed time series
fts=feed.compute_feed_time_series(trip_stats,date,freq='60Min')

In [146]:
fts

indicator            num_trip_ends  ...  service_speed
datetime                            ...
2018-08-06 00:00:00            0.0  ...       0.000000
2018-08-06 01:00:00            0.0  ...       0.000000
2018-08-06 02:00:00            0.0  ...       0.000000
2018-08-06 03:00:00            0.0  ...       0.000000
2018-08-06 04:00:00            0.0  ...       0.000000
...                            ...  ...            ...
2018-08-10 19:00:00            4.0  ...      28.405337
2018-08-10 20:00:00            4.0  ...      26.479391
2018-08-10 21:00:00            3.0  ...      26.736003
2018-08-10 22:00:00            3.0  ...      31.985441
2018-08-10 23:00:00            0.0  ...       0.000000

[120 rows x 6 columns]

In [148]:
gk.downsample(fts,freq='24H')

indicator   num_trip_ends  num_trip_starts  ...  service_duration  service_speed
datetime                                    ...
2018-08-06          250.0            250.0  ...        117.783333      24.278017
2018-08-07            NaN              NaN  ...               NaN            NaN
2018-08-08            NaN              NaN  ...               NaN            NaN
2018-08-09            NaN              NaN  ...               NaN            NaN
2018-08-10          250.0            250.0  ...        117.783333      24.278017

[5 rows x 6 columns]

In [149]:
# Compute feed stats for first week
feed_stats=feed.compute_feed_stats(trip_stats,dates=week)
feed_stats

   num_stops  num_routes  num_trips  ...  peak_start_time  peak_end_time      date
0        237          10        250  ...         06:30:00       06:38:00  20180806
0        237          10        250  ...         06:30:00       06:38:00  20180807
0        237          10        250  ...         06:30:00       06:38:00  20180808
0        237          10        250  ...         06:30:00       06:38:00  20180809
0        237          10        250  ...         06:30:00       06:38:00  20180810
0        237           8        123  ...         08:00:00       08:23:00  20180811
0        237           4         55  ...         08:00:00       08:07:00  20180812

[7 rows x 12 columns]

In [150]:
# Compute route time series
rts = feed.compute_route_time_series(trip_stats, date, freq='12H')
rts

indicator           num_trip_ends              ... service_speed
route_id                    25492 25493 25494  ...         25499      25500      25516
datetime                                       ...
2018-08-06 00:00:00          17.0   6.0  12.0  ...     11.893789  13.689405   0.000000
2018-08-06 12:00:00          19.0   8.0  14.0  ...      0.000000   0.000000  28.164349
2018-08-07 00:00:00           NaN   NaN   NaN  ...           NaN        NaN        NaN
2018-08-07 12:00:00           NaN   NaN   NaN  ...           NaN        NaN        NaN
2018-08-08 00:00:00           NaN   NaN   NaN  ...           NaN        NaN        NaN
2018-08-08 12:00:00           NaN   NaN   NaN  ...           NaN        NaN        NaN
2018-08-09 00:00:00           NaN   NaN   NaN  ...           NaN        NaN        NaN
2018-08-09 12:00:00           NaN   NaN   NaN  ...           NaN        NaN        NaN
2018-08-10 00:00:00          17.0   6.0  12.0  ...     11.893789  13.689405   0.000000
2018-08-10 12:00:00          19.0   8.0  14.0  ...      0.000000   0.000000  28.164349

[10 rows x 60 columns]

In [151]:
# Slice time series

inds = ['service_distance', 'service_duration', 'service_speed']
rids = ['3231','3232','3233','3234']

rts.loc[:, (inds, rids)]

Empty DataFrame
Columns: []
Index: [2018-08-06 00:00:00, 2018-08-06 12:00:00, 2018-08-07 00:00:00, 2018-08-07 12:00:00, 2018-08-08 00:00:00, 2018-08-08 12:00:00, 2018-08-09 00:00:00, 2018-08-09 12:00:00, 2018-08-10 00:00:00, 2018-08-10 12:00:00]

In [152]:
# Compute trip locations for every hour

rng = pd.date_range('14/12/2018', periods=24, freq='H')
times = [t.strftime('%H:%M:%S') for t in rng]
loc = feed.locate_trips(date[0], times)
loc.head()

   trip_id      time  rel_dist  ...             shape_id       lon       lat
0  2660019  07:00:00       1.0  ...  82661 122507 164760 -76.50966  38.95293
1  2660020  08:00:00       1.0  ...  82661 122507 164760 -76.50966  38.95293
2  2660023  10:00:00       1.0  ...  82661 122507 164760 -76.50966  38.95293
3  2660024  11:00:00       1.0  ...  82661 122507 164760 -76.50966  38.95293
4  2660027  13:00:00       1.0  ...  82661 122507 164760 -76.50966  38.95293

[5 rows x 8 columns]

In [153]:
feed.routes

  route_id route_short_name  ... route_text_color route_type
0    25495            Green  ...           ffffff          3
1    25500              NaN  ...           FFFFFF          3
2    25516         Purple-N  ...           ffffff          3
3    25496            Brown  ...           FFFFFF          3
4    25499              NaN  ...           FFFFFF          3
5    25492           Orange  ...           ffffff          3
6    25494           Yellow  ...           000000          3
7    25493             Gold  ...           FFFFFF          3
8    25497              Red  ...           ffffff          3
9    25498         Purple-S  ...           FFFFFF          3

[10 rows x 8 columns]

In [154]:
feed.routes['route_id'].iat[0]

'25495'

In [126]:
# Build a route timetable
route_id = feed.routes['route_id'].iat[0]
feed.build_route_timetable(route_id, date).T

                                      1464  ...                 2985
trip_id                            2660137  ...              2660201
route_id                             25495  ...                25495
service_id                           35333  ...                35333
trip_headsign                     Eastport  ...       Westfield Mall
trip_short_name                        NaN  ...                  NaN
direction_id                             0  ...                    1
shape_id               82666 122511 164764  ...  82667 122512 164765
wheelchair_accessible                  NaN  ...                  NaN
bikes_allowed                            1  ...                    1
block_id                            green1  ...               green2
block_name                          green1  ...               green2
arrival_time                      05:30:00  ...             18:54:00
departure_time                    05:30:00  ...             18:54:00
stop_id                            1025862  ...              1025862
stop_sequence                            0  ...                   23
timepoint                                1  ...                    1
shape_dist_traveled             0.00284865  ...              8.46433
date                              20180806  ...             20180810

[18 rows x 2538 columns]

In [156]:
feed.routes.route_id[feed.routes.route_id==route_id]

0    25495
Name: route_id, dtype: object

In [160]:
rids = feed.routes.route_id[feed.routes.route_id=='25495']
feed.map_routes(rids)

/usr/local/lib/python3.7/dist-packages/pandas/core/common.py:471: FutureWarning: CRS mismatch between CRS of the passed geometries and 'crs'. Use 'GeoDataFrame.set_crs(crs, allow_override=True)' to overwrite CRS or 'GeoDataFrame.to_crs(crs)' to reproject geometries. CRS mismatch will raise an error in the future versions of GeoPandas.
  return func(obj, *args, **kwargs)

In [161]:
feed.trips.filter(['route_id','trip_id','shape_id']).T

                          0    ...                  414
route_id                25492  ...                25499
trip_id               2660017  ...              2660355
shape_id  82661 122507 164760  ...  82680 122524 164777

[3 rows x 415 columns]

In [162]:
## FInd all the trips of specific route : slice rows
feed.trips.loc[lambda x : x.route_id == 'A']

Empty DataFrame
Columns: [trip_id, route_id, service_id, trip_headsign, trip_short_name, direction_id, shape_id, wheelchair_accessible, bikes_allowed, block_id, block_name]
Index: []

In [163]:
## group all the trips by route 
feed.trips.groupby('route_id').agg(['mean']).T

route_id                    25492  25493  25494  ...  25499  25500     25516
direction_id          mean    0.5    0.5    0.5  ...    0.0    0.0  0.518519
wheelchair_accessible mean    NaN    NaN    NaN  ...    NaN    NaN       NaN
bikes_allowed         mean    1.0    1.0    1.0  ...    NaN    1.0  1.000000

[3 rows x 10 columns]

In [164]:
## Comute the number of trips per route : split ,apply,combine
def my_agg(group):
  d={}
  d['num_trips']=group.shape[0]
  return pd.Series(d)


## Use method chaning 
(
    feed.trips
 # split 
 .groupby('route_id')
 #apply and combine
 .apply(my_agg)
 .reset_index()
 #Join in route short name from feeed routes
 .merge(feed.routes.filter(['route_id','route_short_name','route_long_name','route_type']))
 #sort values 
 .sort_values('num_trips',ascending=False).T
)

                                           4  ...              8
route_id                               25496  ...          25500
num_trips                                 84  ...              1
route_short_name                       Brown  ...            NaN
route_long_name   Westfield Mall to Eastport  ...  State Shuttle
route_type                                 3  ...              3

[5 rows x 10 columns]

In [165]:
(feed.trips
 # split 
 .groupby('route_id')
 #apply and combine
 .apply(my_agg))

          num_trips
route_id
25492            36
25493            38
25494            46
25495            77
25496            84
25497            77
25498            27
25499             2
25500             1
25516            27

In [166]:
feed.trips.T

                                       0    ...                  414
trip_id                            2660017  ...              2660355
route_id                             25492  ...                25499
service_id                           35333  ...                35329
trip_headsign                 Forest Drive  ...                 Loop
trip_short_name                        NaN  ...                  NaN
direction_id                             0  ...                    0
shape_id               82661 122507 164760  ...  82680 122524 164777
wheelchair_accessible                  NaN  ...                  NaN
bikes_allowed                            1  ...                  NaN
block_id                            orange  ...                  NaN
block_name                          orange  ...                  NaN

[11 rows x 415 columns]

In [172]:
# Compute screen line counts
DATE='20180904'

# Route stats
route_stats = feed.compute_route_stats(trip_stats, dates=[DATE])
route_stats.T

                           0         1         2  ...         7         8         9
route_id               25492     25493     25494  ...     25499     25500     25516
route_short_name      Orange      Gold    Yellow  ...       NaN       NaN  Purple-N
route_type                 3         3         3  ...         3         3         3
num_trips                 36        14        26  ...         1         1         6
num_trip_starts           36        14        26  ...         1         1         6
num_trip_ends             36        14        26  ...         1         1         6
is_loop                    0         0         0  ...         1         1         0
is_bidirectional           1         1         1  ...         0         0         1
start_time          05:30:00  06:00:00  06:00:00  ...  07:30:00  06:30:00  19:00:00
end_time            18:52:00  19:56:00  18:52:00  ...  07:50:00  06:50:00  22:36:00
max_headway               45       120        60  ...       NaN       NaN       NaN
min_headway               45       120        60  ...       NaN       NaN       NaN
mean_headway              45       120        60  ...       NaN       NaN       NaN
peak_num_trips             1         1         1  ...         1         1         1
peak_start_time     05:30:00  06:00:00  06:00:00  ...  07:30:00  06:30:00  19:00:00
peak_end_time       06:07:00  06:57:00  06:52:00  ...  07:50:00  06:50:00  19:31:00
service_distance     274.188   393.669   239.142  ...    3.9646   4.56313   87.3095
service_duration        11.1   13.1833   11.2667  ...  0.333333  0.333333       3.1
service_speed        24.7016   29.8611   21.2256  ...   11.8938   13.6894   28.1643
mean_trip_distance   7.61634   28.1192   9.19777  ...    3.9646   4.56313   14.5516
mean_trip_duration  0.308333  0.941667  0.433333  ...  0.333333  0.333333  0.516667
date                20180904  20180904  20180904  ...  20180904  20180904  20180904

[22 rows x 10 columns]

In [173]:
feed.get_routes(DATE)

  route_id route_short_name  ... route_text_color route_type
0    25495            Green  ...           ffffff          3
1    25500              NaN  ...           FFFFFF          3
2    25516         Purple-N  ...           ffffff          3
3    25496            Brown  ...           FFFFFF          3
4    25499              NaN  ...           FFFFFF          3
5    25492           Orange  ...           ffffff          3
6    25494           Yellow  ...           000000          3
7    25493             Gold  ...           FFFFFF          3
8    25497              Red  ...           ffffff          3
9    25498         Purple-S  ...           FFFFFF          3

[10 rows x 8 columns]

In [174]:
# Join in route long name
route_stats = route_stats.merge(feed.routes.filter(["route_id", "route_long_name"]))

cols = [
    "route_id",
    "route_short_name", 
    "route_long_name", 
    "route_type", 
    "start_time",
    "end_time",
    "num_trips",
    "max_headway",
    "mean_trip_distance",
    "mean_trip_duration",
    "service_speed",
]

In [175]:
# The most/least frequent routes are
(
    route_stats
    .filter(cols)
    .sort_values("max_headway")
    .T
)

                                             3  ...                           9
route_id                                 25495  ...                       25516
route_short_name                         Green  ...                    Purple-N
route_long_name     Westfield Mall to Eastport  ...  Westfield Mall to Eastport
route_type                                   3  ...                           3
start_time                            05:30:00  ...                    19:00:00
end_time                              18:54:00  ...                    22:36:00
num_trips                                   54  ...                           6
max_headway                                 30  ...                         NaN
mean_trip_distance                     8.07366  ...                     14.5516
mean_trip_duration                    0.391667  ...                    0.516667
service_speed                          20.6136  ...                     28.1643

[11 rows x 10 columns]

In [176]:
# The shortest/longest routes are
(
    route_stats
    .filter(cols)
    .sort_values("mean_trip_distance")
    .T
)

                             7  ...                         1
route_id                 25499  ...                     25493
route_short_name           NaN  ...                      Gold
route_long_name     Circulator  ...  Edgewater to Arnold/AACC
route_type                   3  ...                         3
start_time            07:30:00  ...                  06:00:00
end_time              07:50:00  ...                  19:56:00
num_trips                    1  ...                        14
max_headway                NaN  ...                       120
mean_trip_distance      3.9646  ...                   28.1192
mean_trip_duration    0.333333  ...                  0.941667
service_speed          11.8938  ...                   29.8611

[11 rows x 10 columns]

In [177]:
# The slowest/fastest routes are
(
    route_stats
    .filter(cols)
    .sort_values("service_speed")
    .T
)

                             7  ...                         1
route_id                 25499  ...                     25493
route_short_name           NaN  ...                      Gold
route_long_name     Circulator  ...  Edgewater to Arnold/AACC
route_type                   3  ...                         3
start_time            07:30:00  ...                  06:00:00
end_time              07:50:00  ...                  19:56:00
num_trips                    1  ...                        14
max_headway                NaN  ...                       120
mean_trip_distance      3.9646  ...                   28.1192
mean_trip_duration    0.333333  ...                  0.941667
service_speed          11.8938  ...                   29.8611

[11 rows x 10 columns]

In [180]:
# Map routes

# Map our extreme routes
feed.map_routes(route_ids=['25499','25500','25495'])

/usr/local/lib/python3.7/dist-packages/pandas/core/common.py:471: FutureWarning: CRS mismatch between CRS of the passed geometries and 'crs'. Use 'GeoDataFrame.set_crs(crs, allow_override=True)' to overwrite CRS or 'GeoDataFrame.to_crs(crs)' to reproject geometries. CRS mismatch will raise an error in the future versions of GeoPandas.
  return func(obj, *args, **kwargs)

In [183]:
feed=gk.read_feed('/content/gtfs (4).zip',dist_units='km')

In [185]:
feed=feed.append_dist_to_stop_times()

In [187]:
feed.stop_times.head().T

                            0        1        2        3         4
trip_id               2659985  2659985  2659985  2659985   2659985
arrival_time         07:15:00      NaN      NaN      NaN  07:21:00
departure_time       07:15:00      NaN      NaN      NaN  07:21:00
stop_id               1025862  1025881  1025921  1025764   1025765
stop_sequence               0        1        2        3         4
timepoint                   1        1        1        1         1
shape_dist_traveled       NaN      NaN      NaN      NaN   1.98464

In [189]:
first_week=feed.get_stops()

In [192]:
trip_stats=feed.compute_trip_stats()
trip_stats

     trip_id route_id route_short_name  ...  duration   distance      speed
32   2660017    25492           Orange  ...  0.350000   5.990242  17.114978
33   2660018    25492           Orange  ...  0.350000   9.260439  26.458398
34   2660019    25492           Orange  ...  0.350000   9.260439  26.458398
35   2660020    25492           Orange  ...  0.350000   9.260439  26.458398
36   2660021    25492           Orange  ...  0.350000   9.260439  26.458398
..       ...      ...              ...  ...       ...        ...        ...
358  2660353    25516         Purple-N  ...  0.516667  16.180920  31.317910
346  2660331    25516         Purple-N  ...  0.516667   0.000000   0.000000
359  2660354    25516         Purple-N  ...  0.516667  16.180920  31.317910
347  2660332    25516         Purple-N  ...  0.516667  16.180920  31.317910
348  2660333    25516         Purple-N  ...  0.516667  16.180920  31.317910

[415 rows x 15 columns]

In [190]:
feed.compute_feed_stats()

     stop_id stop_code  ... stop_timezone wheelchair_boarding
0    1025801       NaN  ...           NaN                 NaN
1    1025874       NaN  ...           NaN                 NaN
2    1025805       NaN  ...           NaN                 NaN
3    1025810       NaN  ...           NaN                 NaN
4    1025794       NaN  ...           NaN                 NaN
..       ...       ...  ...           ...                 ...
232  1025831       NaN  ...           NaN                 NaN
233  1025951       NaN  ...           NaN                 NaN
234  1025950       NaN  ...           NaN                 NaN
235  1025797       NaN  ...           NaN                 NaN
236  1025876       NaN  ...           NaN                 NaN

[237 rows x 11 columns]